.josefin-sans-Josefin {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200px;
  font-style: normal;
}

.todoLogin{
  justify-content: center;
  justify-items: center;
}

.headwer{
  display: flex;
  justify-content: left;
  justify-items: left;
  background-color: #fbfcf7;
}

.mono{
  margin: 10px;
  width: 50px;
  height: 45px;
}

.dress{
  color: #d8bfc5;
  font-family: 'Times New Roman', Times, serif; 
}

.login{
  color: #d8bfc5;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  font-weight: 150;
}

.input{
  justify-content: center;
  border-radius: 30px;
  background-color: #e6dee6;
  width: 280px;
  height: 35px;
  margin-bottom: 20px;
}

.ingresar{
  background-color: #d8bfc5;
  color: white;
  border-radius: 35px;
  width: 150px;
  height: 25px;
  margin-bottom: 20px;

}

.cajaLogin{
  width: 400px;
  height: 250px;
  background-color: #fff7f7;
  justify-content: center;
  justify-items: center;
  border-radius: 35px;
}

.MuestraRopa {
  width: 480px;
  height: 400px;
  float: right; /* Alinea el div a la derecha */
  position: relative;
}


@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}

.navbar {
  background-color: #d8bfc5;
}